.navigationContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}

.link:hover {
  color: #057018;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
