.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  justify-content: space-around;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(239, 247, 239, 0.5);
  width: 100%;
  align-items: center;
  position: relative;
}
.title {
  position: absolute;
  top: 0; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: #2f5e2f;
  width: 80%;
  text-align: center;
  font-size: 28px;
}
.contactsListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 70vh;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
  }
  .contactsListContainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(239, 247, 239, 0.5);
    padding-top: 25px;
    width: 100%;
  }
  .title {
    font-size: 1.5rem;
    width: 90%;
  }
}
