
    .container {
      margin-top: 60px;
      width: 55%;
      margin-left: 20px;
     
    }
    .title {
      color: #295229;
      font-size: 50px;
    }
    .container strong {
      font-size: 28px;
      color: #0f350f;
    }
    .container p {
      font-size: 20px;
    }
  