.tableContainer {
  width: 100%;
  max-width: 600px;
  overflow: auto;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #bacab8;
}

button {
  background-color: #3c693e;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
  margin-right: 5px;
}

button:hover {
  background-color: #38553a;
}

input[type='text'] {
  width: 100%;
  padding: 6%;
  box-sizing: border-box;
  height: 26px;
}

@media screen and (min-width: 768px) {
  .tableContainer {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
 
}
