.listContainer {
  width: 100%;
  max-width: 600px;
  overflow: auto;
}

.listDiv {
  list-style-type: none;
  padding: 0;
}

.listDiv li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.listDiv li:last-child {
  border-bottom: none;
}

button {
  background-color: #1a5e26;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #057018;
}

.contactName {
  flex: 1;
}

.contactNumber {
  width: 120px;
  text-align: right;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .listDiv {
    padding: 0px 20px;
  }
}
